name: Build image and upload to ECR
on:
  push:
    branches:
      - develop
      - "feature/**"
    paths-ignore:
      - "**.md"
  workflow_dispatch:
jobs:
  build-test-upload-ecr:
    permissions:
      id-token: write
      contents: read
    uses: izzy456/colour-in-workflows/.github/workflows/build-test-upload-ecr.yml@main
    with:
      branch: ${{ github.ref_name }}
      project-name: colour-in-backend
      aws-region: ${{ vars.AWS_REGION }}
    secrets:
      aws-role: ${{ secrets.AWS_ROLE }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      sonar-host-url: ${{ secrets.SONAR_HOST_URL }}
      ecr-repo: ${{ secrets.ECR_REPO }}
