name: Deploy ECR image to ECS
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  workflow_run:
    workflows: [Build image and upload to ECR]
    types: [completed]
    branches:
      - develop
jobs:
  deploy-ecs:
    if: ${{ contains(github.ref_name, 'develop') && github.event.workflow_run.conclusion == 'success' || contains(github.ref_name, 'main') }}
    permissions:
      id-token: write
      contents: read
    uses: izzy456/colour-in-workflows/.github/workflows/deploy-ecs.yml@main
    with:
      branch: ${{ (contains(github.ref_name, 'feature') && 'feature') || github.ref_name }}
      project-name: colour-in-backend
      aws-region: ${{ vars.AWS_REGION }}
      cluster-name: colour-in
    secrets:
      aws-role: ${{ secrets.AWS_ROLE }}
      ecr-repo: ${{ secrets.ECR_REPO }}